.explanationsText, .guessesText,
.qAndAText, .giverInfoText,
.levelText{
    position: fixed;
    z-index: -1;
    padding: 1%;
}

.progress {
    height: 1.5vh;
    background-color: #019112;
    visibility: hidden;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.singleGuesses {
    font-size: 3vmin;
    text-align: right;
    visibility: hidden;
}
.explanationsText {
    left: 20.5%;
    top: 9%;
    width: 55.5%;
    height: 70%;

    background-image: url("../images/explanations.jpg");
    background-size: cover;
}

.guessesText{
    top: 9%;
    right: 0.5%;
    width: 23%;
    height: 70%;

    background-image: url("../images/guesses.jpg");
    background-size: cover;
}


.qAndAText{
    bottom: 1%;
    left: 0.5%;
    width: 99%;
    height: 19%;

    background-image: url("../images/qAndA.jpg");
    background-size: cover;
}

.giverInfoText{
    top: 9%;
    left: 0.5%;
    width: 19.5%;
    height: 34.5%;

    background-image: url("../images/playerinfo.jpg");
    background-size: cover;
}

.levelText{
    top: 44.5%;
    left: 0.5%;
    width: 19.5%;
    height: 34.5%;

    background-image: url("../images/playerinfo.jpg");
    background-size: cover;
}

#guesses, #qAndA, #explanations{
    font-size: 3vmin;
}

#giverInfo{
    font-size: 4vw;
}

#level {
    text-align: center;
    position: fixed;
    left: 2.5%;
    top: 51%;
    width: 28vmin;
    font-size: 8vw;
}