.explanationsText, .guessesText,
.qAndAText, .giverInfoText,
.levelText{
    position: fixed;
    z-index: -1;
    padding: 1%;
}

.progress{
    visibility: hidden;
}

.singleGuesses {
    font-size: 3vmin;
    text-align: right;
    visibility: hidden;
}
.explanationsText {
    left: 20.5%;
    top: 9%;
    width: 55.5%;
    height: 70%;
}

.guessesText{
    top: 9%;
    right: 0.5%;
    width: 23%;
    height: 70%;
}


.qAndAText{
    bottom: 1%;
    left: 0.5%;
    width: 99%;
    height: 19%;
}

.giverInfoText{
    top: 9%;
    left: 0.5%;
    width: 19.5%;
    height: 34.5%;
}

.levelText{
    top: 44.5%;
    left: 0.5%;
    width: 19.5%;
    height: 34.5%;
}

#guesses, #qAndA1, #qAndA2, #qAndA3, #explanations{
    font-size: 3vmin;
}

#giverInfo{
    font-size: 4vw;
}

#level {
    text-align: center;
    position:fixed;
    left:2.5%;
    top:51%;
    width:28vmin;
    font-size: 15vmin;
}

#qAndA1, #qAndA2, #qAndA3 {
    margin-right: 40px;
}

#endGame {
    font-size: 4vw;
}