#first, #second, #third, #fourth, #fifth, #sixth, #seventh, #eighth, #ninth, #tenth{
    width:25%;
    position: relative;
    font-size:17px;
    text-align: center;
}

#first{
    margin-top: 10%;
    left: 37.5%;
}

#second {
    left:25%;
}

#third{
    right:25%;
}

#fourth{
    left:12.5%
}

#fifth{
    right:37.5%
}

#sixth{
    right:-12.5%
}

#seventh{
    left:0%
}

#eighth{
    right:50%
}

#ninth{
    right:0%
}

#tenth{
    right:-50%
}