.background {
    background: linear-gradient(to bottom, #3a404d, #181c26);
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
}

.upperBar{
    position: fixed;
    top: 0;
    width: 99%;
    left: 0.5%;
    height: 8%;
}

.header{
    position: fixed;
    top: 0;
    width: 35%;
    height: 12.5%;
    left: 32.5%;
    z-index: 0;
}

#heading{
    width: 50%;
    line-height: 6vh;
    left: 25%;
    font-size: 6vmin;
    z-index: 1;
}

#hscrHeading, #countdown,
#heading{
    position: fixed;
    text-align: center;
}

#hscrHeading{
    line-height: 3vh;
    left: 2%;
    font-size: 6vmin;
}

#countdown{
    line-height: 1vh;
    right: 2%;
    font-size: 4vmin;
}

.barspace{
    position: fixed;
    top: 5vh;
    right: 1%;
    width: 25%;
    height: 8%;
}

.highscoreText, .rightText,
.hintsText {
    position: fixed;
    z-index: -1;
    padding: 1%;
}

.highscoreText {
    left: 0.5%;
    top: 9%;
    width: 65%;
    height: 70%;
}

.rightText{
    right: 0.5%;
    width: 33.5%;
}


.hintsText{
    bottom: 1%;
    left: 0.5%;
    width: 65%;
    height: 19%;
}

#categoryText1, #categoryText2, #validateText,
#tabooText, #hintText {
    font-size: 3vmin;
}

#validateText{
    text-align: center;

}

#tabooText{
    height: 11%;
    position: fixed;
    bottom: 0;
    background: linear-gradient(to bottom, #1f232e, #181c26);
}