<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="author" content="Marc Schubhan"/>

    <title>StreamPlaysTaboo</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="../static/css/setup.css" th:href="@{/css/setup.css}"/>
</head>

<body>

<div class="backgroundImg">
    <img src="../static/images/start.png" th:src="@{images/start.png}"/>
</div>

<div class="container">

    <form class="form-signin">
        <h1 class="form-signin-heading">StreamPlaysTaboo</h1>
        <h2 class="form-signin-heading">Settings</h2>
        <div class="dropdown">
            <label>
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMode" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Free for all
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMode">
                    <li><a href="#">Free for all</a></li>
                    <li><a href="#">Streamer explains</a></li>
                </ul>
            </label>
        </div>
        <div class="dropdown">
            <label>
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownPlatform" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Twitch
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownPlatform">
                    <li><a href="#">Twitch</a></li>
                    <li><a href="#">Beam</a></li>
                </ul>
            </label>
        </div>
        <label for="inputEmail" class="sr-only">Channelname</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Channelname..." required="required"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="startGame()">Start Game</button>
    </form>

</div> <!-- /container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/setup.js"></script>
</body>
</html>