<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="author" content="Marc Schubhan"/>

    <title>StreamPlaysTaboo</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="css/registerFFA.css" rel="stylesheet" th:href="@{/css/registerFFA.css}"/>
    <link href="css/game.css" rel="stylesheet" th:href="@{/css/game.css}"/>
</head>

<body onload="connect()">

<div class="upperBar">
    <h1 id="heading">StreamPlaysTaboo</h1>
    <h2 id="hscrHeading">Free for All</h2>
    <h2 id="countdown">90s</h2>
    <img class="header" src="images/header.png" th:href="@{/images/header.png}"/>
    <div class="barspace">
        <div class="progress" style="background-color: #eb131e; height: 25%">
            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" id="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>
</div>

<div class="explanationsText">
    <p id="explanations">Explanations</p>
</div>

<div class="giverInfoText">
    <p id="giverInfo"></p>
</div>

<div class="levelText">

</div>

<div class="qAndAText">
    <p id="qAndA"><big>Q:</big> Does the game have a corresponding movie?<br><br><big>A:</big> Yes, it has.</p>
</div>

<div class="guessesText">
    <p id="guesses">!guess &lt;word&gt; <small>to submit a guess!</small></p>
    <p class="singleGuesses" id="1stGuess">1stGuess</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" id="1stGuessBar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            <span class="sr-only"></span>
        </div>
    </div>
    <p class="singleGuesses" id="2ndGuess">2ndGuess</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" id="2ndGuessBar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
            <span class="sr-only"></span>
        </div>
    </div>
    <p class="singleGuesses" id="3rdGuess">3rdGuess</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" id="3rdGuessBar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
            <span class="sr-only"></span>
        </div>
    </div>
    <p class="singleGuesses" id="4thGuess">4thGuess</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" id="4thGuessBar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
            <span class="sr-only"></span>
        </div>
    </div>
    <p class="singleGuesses" id="5thGuess">5thGuess</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" id="5thGuessBar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
            <span class="sr-only"></span>
        </div>
    </div>
    <p class="singleGuesses" id="6thGuess">6thGuess</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" id="6thGuessBar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
            <span class="sr-only"></span>
        </div>
    </div>
    <p class="singleGuesses" id="7thGuess">7thGuess</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" id="7thGuessBar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
            <span class="sr-only"></span>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="js/game.js" th:src="@{/js/game.js}"></script>
<script src="js/communicationLocal.js" th:src="@{/js/communicationLocal.js}"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

</body>
</html>