<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Marc Schubhan" />

    <title>StreamPlaysTaboo</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="css/registerFFA.css" rel="stylesheet" th:href="@{/css/registerFFA.css}"/>
</head>

<body onload="connectLoc()">
<nav class="navbar navbar-inverse">
    <div class="navbar-header"><p class="navbar-brand" style="font-size: 4vh">StreamPlaysTaboo</p></div>
    <p class="navbar-text" style="font-size: 3vh">Highscore</p>
    <div class="nav navbar-text progress pull-right" style="width: 25%; margin-top:1%">
        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" id="progressbar" style="width:100%; font-size: 2vh">30s</div>
    </div>
</nav>

<div class="background highscoreText">lol</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="js/communicationLocal.js" th:src="@{/js/communicationLocal.js}"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="js/registration.js" th:src="@{/js/registration.js}"></script>
</body>

</html>
