<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Marc Schubhan" />

    <title>StreamPlaysTaboo</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link href="css/registerFFA.css" rel="stylesheet" th:href="@{/css/registerFFA.css}"/>
</head>

<body onload="connectLoc()">
<nav class="navbar navbar-inverse" style="background:linear-gradient(to bottom, #3a404d, #181c26);border-radius: 10px;box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);">
    <div class="navbar-header"><p class="navbar-brand" style="font-size: 4vh">StreamPlaysTaboo</p></div>
    <p class="navbar-text" style="font-size: 3vh">Highscore</p>
    <div class="nav navbar-text progress pull-right" style="width: 25%; margin-top:1%">
        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" id="progressbar" style="width:100%; font-size: 2vh">30s</div>
    </div>
</nav>

<div class="leaderboard">
    <h1>
        <svg class="ico-cup">
            <use xlink:href="#cup"></use>
        </svg> Most active Players
    </h1>
    <ol id="two-columns" style="margin-left:-40px">
        <li id="first">
            <mark>Jerry Wood</mark>
            <small>315</small>
        </li>
        <li id="second">
            <mark>Brandon Barnes</mark>
            <small>301</small>
        </li>
        <li id="third">
            <mark>Raymond Knight</mark>
            <small>292</small>
        </li>
        <li id="fourth">
            <mark>Trevor McCormick</mark>
            <small>245</small>
        </li>
        <li id="fifth">
            <mark>Andrew Fox</mark>
            <small>203</small>
        </li>
        <li id="sixth">
            <mark>Jerry Wood</mark>
            <small>315</small>
        </li>
        <li id="seventh">
            <mark>Brandon Barnes</mark>
            <small>301</small>
        </li>
        <li id="eighth">
            <mark>Raymond Knight</mark>
            <small>292</small>
        </li>
        <li id="ninth">
            <mark>Trevor McCormick</mark>
            <small>245</small>
        </li>
        <li id="tenth">
            <mark>Andrew Fox</mark>
            <small>203</small>
        </li>
    </ol>
</div>
<div class="background hintsText"></div>
<div class="background rightText"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="js/communicationLocal.js" th:src="@{/js/communicationLocal.js}"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="js/registration.js" th:src="@{/js/registration.js}"></script>
</body>

</html>
