<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Marc Schubhan" />

    <title>StreamPlaysTaboo</title>

    <!-- Bootstrap core CSS -->
    <link href="css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}" />
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link href="css/registerFFA.css" rel="stylesheet" th:href="@{/css/registerFFA.css}" />
    <link href="css/pyramid.css" rel="stylesheet" th:href="@{/css/pyramid.css}" />
</head>

<body onload="connectLoc()">

    <div class="upperBar">
        <h1 id="heading">StreamPlaysTaboo</h1>
        <h2 id="hscrHeading">Highscore</h2>
        <h2 id="countdown">30s</h2>
        <img class="header" src="images/header.png" th:href="@{/images/header.png}" />
        <div class="barspace">
            <div class="progress" style="background-color: #019112; height: 25%">
                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" id="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="highscoreText">

        <div class="alert alert-warning" id="first">
            [TwitchName] first
        </div>

        <div>
            <div class="alert alert-danger" id="third" style="float: right">
                [TwitchName] third
            </div>
            <div class="alert alert-success" id="second">
                [TwitchName] second
            </div>
        </div>

        <div>
            <div class="alert alert-info" id="fifth" style="float: right">
                [TwitchName] fifth
            </div>
            <div class="alert alert-info" id="sixth" style="float: right">
                [TwitchName] sixth
            </div>
            <div class="alert alert-info" id="fourth">
                [TwitchName] fourth
            </div>
        </div>

        <div>
            <div class="alert alert-info" id="eighth" style="float: right">
                [TwitchName] eighth
            </div>
            <div class="alert alert-info" id="ninth" style="float: right">
                [TwitchName] ninth
            </div>
            <div class="alert alert-info" id="tenth" style="float: right">
                [TwitchName] tenth
            </div>
            <div class="alert alert-info" id="seventh">
                [TwitchName] seventh
            </div>
        </div>

        <div class="alert alert-info" style="position:fixed;bottom:19%;right:34.5%;margin-bottom: 15px">
            Type<strong> !register </strong>to get a chance to be the giver!
        </div>
    </div>

    <div class="hintsText">
        <p id="hintText"><big>Did you know?</big><br><small>You can type !register to get into the giver pool. A giver has the chance to explain a word and get points based on his time.</small></p>
    </div>

    <div class="rightText">
        <div style="height: 40%; font-size: 3vmin">
            <p>!vote &lt;number&gt; <small>for the category of the next word!</small></p>
            <p id="categoryText2" style="width:50%; float: right"></p>
            <p id="categoryText1" style="width:50%"></p>
        </div>
        <div style="height: 40%; font-size: 3vmin">
            <p><small>Help us to</small> !validate &lt;ID&gt; &lt;1-5&gt;<small> our taboo words! <br>(1 = bad, 5 = good):</small></p>
            <p id="validateText"></p>
        </div>
        <p id="tabooText"><small>Do you have an idea for a new taboo word? <br>Type</small> !taboo &lt;word&gt;<small> to tell us.</small></p>
    </div>

    <script src="js/registration.js" th:src="@{/js/registration.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="js/setup.js" th:src="@{/js/setup.js}"></script>
    <script src="js/communicationLocal.js" th:src="@{/js/communicationLocal.js}"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</body>

</html>
