<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="panel-group">
    <div class="upperBar">
        <div class="panel panel-success">
            <h1 id="heading">StreamPlaysTaboo</h1>
            <h2 id="hscrHeading">Highscore</h2>
            <h2 id="countdown">30s</h2>
            <img class="header" src="images/header.png" th:href="@{/images/header.png}"/>
            <div class="barspace">
                <div class="progress" style="background-color: #019112; height: 25%">
                    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" id="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="highscoreText">

        <div class="alert alert-warning" id="first">
            [TwitchName] first
        </div>

        <div>
            <div class="alert alert-danger" id="third" style="float: right">
                [TwitchName] third
            </div>
            <div class="alert alert-success" id="second" >
                [TwitchName] second
            </div>
        </div>

        <div>
            <div class="alert alert-info" id="fifth" style="float: right">
                [TwitchName] fifth
            </div>
            <div class="alert alert-info" id="sixth" style="float: right">
                [TwitchName] sixth
            </div>
            <div class="alert alert-info" id="fourth">
                [TwitchName] fourth
            </div>
        </div>

        <div>
            <div class="alert alert-info" id="eighth" style="float: right">
                [TwitchName] eighth
            </div>
            <div class="alert alert-info" id="ninth" style="float: right">
                [TwitchName] ninth
            </div>
            <div class="alert alert-info" id="tenth" style="float: right">
                [TwitchName] tenth
            </div>
            <div class="alert alert-info" id="seventh">
                [TwitchName] seventh
            </div>
        </div>

        <div class="alert alert-info" style="position:fixed;bottom:19%;right:34.5%;margin-bottom: 15px">
            Type<strong> !register </strong>to get a chance to be the giver!
        </div>
    </div>

    <div class="hintsText">
        <p id="hintText"><big>Did you know?</big><br><small>You can type !register to get into the giver pool. A giver has the chance to explain a word and get points based on his time.</small></p>
    </div>

    <div class="rightText">
        <div style="height: 40%; font-size: 3vmin">
            <p>!vote &lt;number&gt; <small>for the category of the next word!</small></p>
            <p id="categoryText2" style="width:50%; float: right"></p>
            <p id="categoryText1" style="width:50%"></p>
        </div>
        <div style="height: 40%; font-size: 3vmin">
            <p><small>Help us to</small> !validate &lt;ID&gt; &lt;1-5&gt;<small> our taboo words! <br>(1 = bad, 5 = good):</small></p>
            <p id="validateText"></p>
        </div>
        <p id="tabooText"><small>Do you have an idea for a new taboo word? <br>Type</small> !taboo &lt;word&gt;<small> to tell us.</small></p>
    </div>
</div>
<script src="js/registration.js" th:src="@{/js/registration.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="js/setup.js" th:src="@{/js/setup.js}"></script>
<script src="js/communicationLocal.js" th:src="@{/js/communicationLocal.js}"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script></body>
</html>





<div class="upperBar">
    <h1 id="heading">StreamPlaysTaboo</h1>
    <h2 id="hscrHeading">Free for All</h2>
    <h2 id="countdown">90s</h2>
    <img class="header" src="images/header.png" th:href="@{/images/header.png}"/>
    <div class="barspace">
        <div class="progress" style="background-color: #019112; height: 25%; visibility: visible">
            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" id="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>
</div>

<div class="explanationsText">
    <p id="explanations">Explanations: <br><br></p>
    <p id="endGame" style="text-align: center; "></p>
</div>

<div class="giverInfoText">
    <p id="giverInfo"></p>
</div>

<div class="levelText">
    <img src="images/level.png" style="position: fixed; left: 2.5%; top: 48%; width: 28vmin; z-index: -1"  th:href="@{/images/level.png}"/>
    <p id="level">1</p>
</div>

<div class="qAndAText">
    <p id="qAndA1" style="float:left"></p>
    <p id="qAndA2" style="float:left"></p>
    <p id="qAndA3"></p>
</div>

<div class="guessesText">
    <p id="guesses">!guess &lt;word&gt; <small>to submit a guess!</small></p>
    <p class="singleGuesses" id="1stGuess">1stGuess</p>
    <div class="progress" id="Bar1">
        <div class="progress-bar" role="progressbar" id="1stGuessBar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            <span class="sr-only"></span>
        </div>
    </div>
    <p class="singleGuesses" id="2ndGuess">2ndGuess</p>
    <div class="progress" id="Bar2">
        <div class="progress-bar" role="progressbar" id="2ndGuessBar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
            <span class="sr-only"></span>
        </div>
    </div>
    <p class="singleGuesses" id="3rdGuess">3rdGuess</p>
    <div class="progress" id="Bar3">
        <div class="progress-bar" role="progressbar" id="3rdGuessBar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
            <span class="sr-only"></span>
        </div>
    </div>
    <p class="singleGuesses" id="4thGuess">4thGuess</p>
    <div class="progress" id="Bar4">
        <div class="progress-bar" role="progressbar" id="4thGuessBar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
            <span class="sr-only"></span>
        </div>
    </div>
    <p class="singleGuesses" id="5thGuess">5thGuess</p>
    <div class="progress" id="Bar5">
        <div class="progress-bar" role="progressbar" id="5thGuessBar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
            <span class="sr-only"></span>
        </div>
    </div>
    <p class="singleGuesses" id="6thGuess">6thGuess</p>
    <div class="progress" id="Bar6">
        <div class="progress-bar" role="progressbar" id="6thGuessBar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
            <span class="sr-only"></span>
        </div>
    </div>
    <p class="singleGuesses" id="7thGuess">7thGuess</p>
    <div class="progress" id="Bar7">
        <div class="progress-bar" role="progressbar" id="7thGuessBar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
            <span class="sr-only"></span>
        </div>
    </div>
</div>